<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>Sobre</title>
  </head>
  <body class="bg-gray-50">
    <section class="bg-purple-700 py-20 px-6">
      <div class="max-w-4xl mx-auto text-center">
        <h1 class="text-3xl font-serif md:text-4xl font-bold text-white">
          Sobre DevBlog
        </h1>

        <p class="text-purple-100 mt-6 text-lg mx-auto">
          Descubra a história por trás da nossa paixão por compartilhar
          conhecimento e conectar comunidades por meio de conteúdo
          significativo.
        </p>
      </div>
    </section>

    <main class="mt-8 max-w-7xl mx-auto px-4">
      <section
        class="flex flex-col-reverse gap-4 items-center justify-between lg:flex-row"
      >
        <div class="flex-1">
          <h2 class="text-3xl text-gray-700 font-bold font-serif">
            Nossa História
          </h2>

          <p class="text-gray-600 mt-6 indent-8 text-justify">
            O DevBlog nasceu de uma ideia simples: criar um espaço onde
            desenvolvedores pudessem compartilhar experiências reais, dicas
            práticas e histórias do dia a dia na programação. Tudo começou com
            Lucas, um jovem desenvolvedor que, após horas tentando resolver um
            problema no código, percebeu a importância de documentar e
            compartilhar o que aprendia. O projeto começou como um blog pessoal,
            com textos sobre bugs, soluções, conceitos e desafios do mundo do
            desenvolvimento web. Com o tempo, o blog chamou a atenção de outros
            devs, que passaram a contribuir com conteúdos, sugestões e novas
            ideias. A plataforma foi evoluindo: ganhou um layout limpo e
            responsivo, categorias personalizadas por cor, sistema de autores, e
            virou uma comunidade viva. Hoje, o DevBlog é muito mais do que um
            blog técnico. É um ponto de encontro entre apaixonados por
            tecnologia — um espaço para aprender, errar, crescer e se inspirar.
            Aqui, cada artigo carrega a vivência de quem escreve, tornando o
            conteúdo único e próximo da realidade de quem programa. Seja
            bem-vindo(a) ao DevBlog. Aqui, ideias se transformam em código.
          </p>
        </div>

        <div class="flex-1 w-full lg:w-auto">
          <img
            src="https://i.postimg.cc/yN2sfNqz/time.png"
            alt=""
            class="w-full h-80 object-cover rounded-lg"
          />
        </div>
      </section>

      <section>
        <h2
          class="text-3xl text-gray-700 text-center mt-20 font-bold font-serif"
        >
          Nossa Missão e Valores
        </h2>
        <p class="text-gray-600 mt-6 lg:px-36 text-center">
          Somos movidos por um conjunto de valores fundamentais que norteiam
          tudo o que fazemos, desde a criação de conteúdo até a construção de
          comunidade.
        </p>

        <div class="flex flex-wrap justify-center gap-8 mt-12">
          <div
            class="flex bg-white flex-col items-center space-y-4 w-72 shadow-sm rounded-lg p-8"
          >
            <div
              class="bg-purple-700 items-center justify-center flex w-16 h-16 text-white text-2xl rounded-full"
            >
              <i class="fa-solid fa-crosshairs"></i>
            </div>

            <h3 class="text-xl text-gray-700 text-center font-bold font-serif">
              Nossa Missão
            </h3>
            <p class="text-gray-600 text-center">
              Democratizar o acesso ao conhecimento, fornecendo conteúdo
              acessível e de alta qualidade que capacite os indivíduos a
              aprender, crescer e ter sucesso em suas vidas pessoais e
              profissionais
            </p>
          </div>

          <div
            class="flex bg-white flex-col items-center space-y-4 w-72 shadow-sm rounded-lg p-8"
          >
            <div
              class="bg-purple-700 items-center justify-center flex w-16 h-16 text-white text-2xl rounded-full"
            >
              <i class="fa-solid fa-gem"></i>
            </div>

            <h3 class="text-xl text-gray-700 text-center font-bold font-serif">
              Qualidade Primeiro
            </h3>
            <p class="text-gray-600 text-center">
              Cada conteúdo que publicamos passa por rigorosos testes de revisão
              para garantir precisão, relevância e valor. Acreditamos que nossos
              leitores merecem nada menos que excelência.
            </p>
          </div>

          <div
            class="flex bg-white flex-col items-center space-y-4 w-72 shadow-sm rounded-lg p-8"
          >
            <div
              class="bg-purple-700 items-center justify-center flex w-16 h-16 text-white text-2xl rounded-full"
            >
              <i class="fa-solid fa-users"></i>
            </div>

            <h3 class="text-xl text-gray-700 text-center font-bold font-serif">
              Comunidade
            </h3>
            <p class="text-gray-600 text-center">
              Promovemos um ambiente inclusivo onde perspectivas diversas são
              bem-vindas e conversas significativas florescem entre escritores e
              leitores.
            </p>
          </div>
        </div>
      </section>

      <section>
        <h2
          class="text-3xl text-gray-700 text-center mt-20 font-bold font-serif"
        >
          Conheça Nosso Time
        </h2>
        <p class="text-gray-600 mt-6 lg:px-36 text-center">
          Por trás do BlogSystem há uma equipe dedicada de escritores, editores
          e desenvolvedores apaixonados por criar experiências de conteúdo
          excepcionais.
        </p>

        <div class="flex flex-wrap justify-center gap-10 mt-12">
          <div class="w-48 flex flex-col items-center space-y-3">
            <img
              src="https://i.postimg.cc/FKXvtHFb/Team-member.png"
              alt=""
              class="w-32 h-32 rounded-full"
            />
            <h4 class="text-center font-medium">Sarah Johnson</h4>
            <p class="text-gray-600 text-center">
              Apaixonado por tecnologia e inovação digital, com mais de 10 anos
              de experiência editorial.
            </p>
          </div>
          <div class="w-48 flex flex-col items-center space-y-3">
            <img
              src="https://i.postimg.cc/FKXvtHFb/Team-member.png"
              alt=""
              class="w-32 h-32 rounded-full"
            />
            <h4 class="text-center font-medium">Sarah Johnson</h4>
            <p class="text-gray-600 text-center">
              Apaixonado por tecnologia e inovação digital, com mais de 10 anos
              de experiência editorial.
            </p>
          </div>
          <div class="w-48 flex flex-col items-center space-y-3">
            <img
              src="https://i.postimg.cc/FKXvtHFb/Team-member.png"
              alt=""
              class="w-32 h-32 rounded-full"
            />
            <h4 class="text-center font-medium">Sarah Johnson</h4>
            <p class="text-gray-600 text-center">
              Apaixonado por tecnologia e inovação digital, com mais de 10 anos
              de experiência editorial.
            </p>
          </div>
          <div class="w-48 flex flex-col items-center space-y-3">
            <img
              src="https://i.postimg.cc/FKXvtHFb/Team-member.png"
              alt=""
              class="w-32 h-32 rounded-full"
            />
            <h4 class="text-center font-medium">Sarah Johnson</h4>
            <p class="text-gray-600 text-center">
              Apaixonado por tecnologia e inovação digital, com mais de 10 anos
              de experiência editorial.
            </p>
          </div>
        </div>
      </section>

      <section></section>
    </main>
  </body>
</html>
